* {
    font-family:'Times New Roman', Times, sans-serif;
}
body {
    background-color: #CDC2AE;
}
a {
    text-decoration: none;
    color:#371B58;
    
}
h1{
    font-size: 50px;
    color: #3C2A21;
}
img {
    width: 600px;
}
h2 {
    font-size: 35px;
    color: #3C2A21;
}
ul li, ol li, p {
    font-size: 20px;
    color: #18122B;
}